.about-page {
	border-bottom: 1px solid $gray;
	padding-bottom: 1em;
	@extend %clearfix;
	p {
		&:first-of-type {
			margin-top: 0;
		}
	}
	.feature {
		display: block;
		margin: 0 auto 1em;
		width: 15em;
		height: auto;
		@include at-least( 37.5em ) {
			float: right;
			margin: 0 0 1em 2em;
		}
	}
	.about-links {
		margin-top: 1rem;
		a {
			@extend %button;
			display: block;
			float: left;
			margin-right: 1rem;
			text-decoration: none;
		}
	}
}