.field-group {
	margin-bottom: 1em;
	label {
		margin-bottom: .5em;
	}
	input,
	textarea {
		display: block;
		line-height: 1.5;
		margin-top: .5em;
		padding: .3rem .5rem;
		width: 100%;
	}
	.message {
		height: 6em;
	}
}
input[type='submit'] {
	@extend %button;
}
.contact-form {
	width: 70%;
}