body {
	margin: 0 auto;
	width: 90%;
}

p {
	line-height: 1.5;
}

a {
	color: $dark-orange;
	&:hover {
		color: $orange;
	}
}
.main-header {
	@include clearfix;
	padding: 1em 0;
}

.main-nav {
	float: left;
	width: 55%;
	height: 6em;
	.main-menu {
		@include clearfix;
		padding-left: 0;
	}
	li {
		border-radius: 4px;
		float: left;
		list-style: none;
		padding: 1em;
		&:hover {
			background-color: #f2f2f2;
			cursor: pointer;
		}
	}
	a {
		color: #444;
		font-size: 1.4em;
		text-decoration: none;
	}
	i {
		margin-right: 0.5em;
	}
}

.about {
	float: right;
	width: 45%;
	height: 6em;
	.site-title {
		font-size: 1.5em;
		margin: 0;
	}
	.site-tagline {
		font-size: 1em;
		font-weight: 500;
		line-height: 1.4;
		margin-top: 0.5em;
	}
}

.personal {
	border-radius: 50%;
	float: left;
	margin-right: 1em;
	width: 6em;
	height: auto;
}

.post-single {
	border-bottom: 1px solid #e0e0e0;
	padding: 1em 0;
}
.article-title {
	margin-top: 0.5em;
}

.nav-link {
	font-size: 1.2em;
	margin: 1em 0;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.main-footer {
	margin: 2em 0;
	text-align: center;
}