.page-title {
	font-family: "Merriweather", serif;
	font-weight: 700;
}

.post-single {
	border-bottom: 1px solid $gray;
	padding: 1em 0;
	h2, h3, h4, p {
		margin: 0.8em 0 0.5em 0;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.15em;
	}
	img {
		width: auto;
		max-width: 100%;
	}
	.article-title {
		font-size: 1.5em;
		margin-top: 0.5em;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

	}
}

.article-date {
	font-style: italic;
}

// bottom navigation links
.nav-link {
	@include clearfix;
	font-size: 1.2em;
	margin: 1em 0;
	a {
		display: block;
		float: left;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.next {
			float: right;
		}
	}
}