.page-title {
	font-family: "Merriweather", serif;
	font-weight: 700;
}

.post-single {
	border-bottom: 1px solid $gray;
	padding: 1em 0;
}
.article-title {
	margin-top: 0.5em;
}

// bottom navigation links
.nav-link {
	@include clearfix;
	font-size: 1.2em;
	margin: 1em 0;
	a {
		display: block;
		float: left;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.next {
			float: right;
		}
	}
}