.resume {
	.section {
		padding-bottom: 1em;
	}
	.section-title {
		font-family: "Merriweather", serif;
		font-weight: 700;
		text-align: center;
	}
	.networks {
		@include clearfix;
		margin-top: 1em;
		.link {
			float: left;
			margin-right: 1em;
		}
		a {
			font-size: 1.5em;
			text-decoration: none;
		}
	}
	.item {
		line-height: 1.4;
	}
	.item-header {
		font-size: 1.1em;
		margin-bottom: 0.5em;
	}
	.row {
		@include clearfix;
	}
	.position {
		font-size: 1.1em;
		font-style: italic;
		float: left;
	}
	.duration {
		float: right;
	}
	.work-single {
		border-bottom: 1px solid $gray;
		&:last-of-type {
			border: none;
		}
	}
	.degree {
		font-style: italic;
		float: left;
	}
	.graduation {
		float: right;
	}
	.skill-title {
		font-style: italic;
	}
	.comma-item {
		&:after {
			content: ",";
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}
}