.work-viewers {
	margin-bottom: 2em;
	position: relative;
	&:hover {
		.closeicon {
			opacity: 1;
		}
	}
	.closeicon {
		cursor: pointer;
		font-size: 1.5em;
		opacity: 0.4;
		position: absolute;
		top: -8px;
		right: -8px;
	}
}
.work-viewer {
	@extend %clearfix;
	background-color: $light-gray;
	padding: 1em 3%;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	.feature-images {
		@include at-least( 62.5em ) {
			float: left;
			width: 50%;
		}
		a {
			display: block;
			text-align: center;
			@extend %clearfix;
		}
		img {
			height: auto;
			max-height: 30em;
			width: auto;
			max-width: 100%;
		}
	}
	.description {
		@include at-least( 62.5em ) {
			float: right;
			width: 42%;
		}
	}
	.work-title {
		color: $dark-orange;
	}
	.bx-wrapper {
		float: left;
		&:hover {
			.bx-prev,
			.bx-next {
				opacity: 1;
			}
		}
	}
	.bx-prev,
	.bx-next {
		font-family: "FontAwesome";
		font-size: 1.8em;
		opacity: 0.4;
		padding: 0.5em;
		position: absolute;
		text-decoration: none;
		top: 50%;
	}
	.bx-prev {
		left: 0;
		&:before {
			content: "\f137";
		}
	}
	.bx-next {
		right: 0;
		&:before {
			content: "\f138";
		}
	}
}

.work-singles {
	@extend %clearfix;

	.work-single {
		border: 5px solid transparent;
		cursor: pointer;
		float: left;
		@include at-least( 42em ) {
			margin: 0 4% 2em;
			width: 42%;
		}
		@include at-least( 62.5em ) {
			margin: 0 2% 2em;
			width: 29.333%;
		}
		&.active {
			border-color: $orange;
		}
		.preview {
			height: 15em;
			@include at-least( 42em ) {
				height: 10em;
			}
			overflow: hidden;
			&:hover {
				filter: sepia(40%);
			}
			img {
				width: 100%;
				height: auto
			}
		}
	}
}