.work-viewer {
	@include clearfix;
	background-color: $gray;
	&.active {
	}
	.feature-images {
		float: left;
		width: 50%;
		img {
			height: auto;
			max-height: 30em;
			width: auto;
			max-width: 100%;
		}
	}
	.bx-wrapper {
		float: left;
	}
	.description {
		float: right;
		width: 48%;
	}
}

.work-singles {
	@include clearfix;
}
.work-single {
	float: left;
	.preview {
		width: 12em;
		height: auto;
	}
}