.work-viewers {
	margin-bottom: 2em;
	position: relative;
	.closeicon {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		top: 5px;
		right: 5px;
	}
}
.work-viewer {
	@include clearfix;
	background-color: $light-gray;
	padding: 1em 3%;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	.feature-images {
		float: left;
		width: 50%;
		img {
			height: auto;
			max-height: 15em;
			width: auto;
			max-width: 100%;
		}
	}
	.bx-wrapper {
		float: left;
		&:hover {
			.bx-prev,
			.bx-next {
				opacity: 1;
			}
		}
	}
	.bx-prev,
	.bx-next {
		font-family: "FontAwesome";
		font-size: 1.8em;
		opacity: 0.4;
		position: absolute;
		text-decoration: none;
		top: 50%;
	}
	.bx-prev {
		left: 5px;
		&:before {
			content: "\f137";
		}
	}
	.bx-next {
		right: 5px;
		&:before {
			content: "\f138";
		}
	}
	.description {
		float: right;
		width: 42%;
	}
}

.work-singles {
	@include clearfix;
}
.work-single {
	cursor: pointer;
	float: left;
	margin: 0 2% 1em;
	width: 29.3333%;
	.preview {
		height: 10em;
		img {
			width: 100%;
			height: auto
		}
	}
}