// Vendor Dependencies
@import "assets/prism.css";
@import "global/_normalize";
@import "../components/fancybox/source/jquery.fancybox.css";

// Fonts
$FontAwesomePath: "assets/font";
@import "../components/font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic|Merriweather:400,700);

// Authored Dependencies
@import "global/_bits";

// Components
// universal styles
@import "global/_universal";
@import "global/_header";
@import "global/_footer";

// Pages
@import "_page";
@import "_form";
@import "_about";
@import "_resume";
@import "_works";
@import "_academics";