// Colors
$orange: #e67e22;
$dark-orange: #d35400;
$gray: #e0e0e0;
$light-gray: #f2f2f2;
$whisper: #f5f2f0;

// Media queries

// CSS Tricks Naming Media Query
// @mixin breakpoint($point) {
//   @if $point == papa-bear {
//     @media (max-width: 1600px) { @content; }
//   }
//   @else if $point == mama-bear {
//     @media (max-width: 1250px) { @content; }
//   }
//   @else if $point == baby-bear {
//     @media (max-width: 650px)  { @content; }
//   }
// }

@mixin at-least( $width ) {
	@media (min-width: $width) {
		@content
	}
}

@mixin at-most( $width ) {
	@media (max-width: $width) {
		@content
	}
}

// Patterns
%button {
	background-color: $orange;
	border: 1px solid $dark-orange;
	border-radius: 4px;
	color: $light-gray;
	padding: 0.5em 1em;
	&:hover {
		background-color: $dark-orange;
	}
}

// image replacement
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
