.main-footer {
	margin: 10em 0 2em;
	text-align: center;
	@include at-least( 40em ) {
		margin-top: 2em;
	}
	.social-networks {
		text-align: center;
		.link {
			display: inline-block;
			float: none;
		}
	}
}