{{#getPage '1'}}
	{{#each posts}}
		<article class="post-single">
			<h2 class="article-title">{{title}}</h2>
			{{{main}}}
		</article><!-- .post-single -->
	{{/each}}
{{/getPage}}

<div class="nav-link">
	{{#getPage '2'}}
		<a class="prev" href="{{filepath}}"><i class="icon-arrow-left"></i> Read more</a>
	{{/getPage}}
</div>
