{{#each posts}}
	<article class="post-single">
		<h2 class="article-title"><a href="articles/{{slug}}">{{title}}</a></h2>
		<div class="article-date">{{getDate 'MM-DD-YYYY' date}}</div>
		{{{content}}}
	</article><!-- .post-single -->
{{/each}}



