{{> head}}
	<div class="main-header">
		{{> nav}}
		<div class="about">
			<img class="personal" src="/images/at_upstatement-small.jpg"/>
			<h1 class="site-title">{{config.site-name}}</h1>
			<h2 class="site-tagline">{{config.tagline}}</h2>
		</div><!-- .about -->
	</div><!-- .main-header -->