<nav class="main-nav" role="navigation">
	<ul class="main-menu">
		<li><a href="{{config.site-url}}"><i class="icon-home"></i>Home</a></li>
		<li><a href="{{config.url}}/contact.html"><i class="icon-comment"></i>Contact</a></li>
		<li><A href="{{config.url}}/about"><i class="icon-user"></i>About</a></li>
	</ul><!-- .main-menu -->
</nav><!-- .main-nav -->