<nav class="main-nav" role="navigation">
	<ul class="main-menu">
		<li><a href="{{config.siteUrl}}"><i class="fa fa-home"></i>Home</a></li>
		<li><a href="{{config.siteUrl}}/about" rel="me"><i class="fa fa-user"></i>About</a></li>
	</ul><!-- .main-menu -->
</nav><!-- .main-nav -->
