<div class="social-networks">
	<div class="twitter link">
		<a href="https://twitter.com/{{global.index.social_networks.twitter}}" rel="me"><i class="icon-twitter"></i></a>
	</div>
	<div class="github link">
		<a href="https://github.com/{{global.index.social_networks.github}}" rel="me"><i class="icon-github"></i></a>
	</div>
	<div class="linkedin link">
		<a href="http://linkedin.com/in/{{global.index.social_networks.linkedin}}" rel="me"><i class="icon-linkedin"></i></a>
	</div>
</div>