{{! custom header}}
{{> head}}
	<div class="main-header">
		{{> nav}}
	</div><!-- .main-header -->
	<h1>About</h1>
	<div class="about-page">
		<img class="feature" src="{{content.feature}}"/>
		{{{content.main}}}

		<a class="resume" href="/resume">Resume</a>
	</div><!-- .about -->
{{> footer}}