{{> header}}
<h1>Course Reflections</h1>
<div class="course-intro">{{{content.main}}}</div>
{{#each courses}}
	<div class="course">
		<h2>{{title}}
			{{#if semester}}
				<span class="semester"> - {{semester}}</span>
			{{/if}}
		</h2>
		{{{main}}}
	</div>
{{/each}}
{{> footer}}