{{> header}}
	<h1>Get In Touch</h1>
	<form id="contact" class="contact-form form" method="post" action="http://inspired-forms.herokuapp.com/forms/52e49f41dd1cae0200000002">
		<div class="field-group">
			<label for="name">Your Name</label>
			<input type="text" id="name" name="name" placeholder="Your name" />
		</div>
		<div class="field-group">
			<label for="email">How can I contact you? (email usually works best here)</label>
			<input type="email" id="email" name="email" placeholder="Your email" />
		</div>
		<div class="field-group">
			<label for="message">Tell me something awesome!</label>
			<textarea name="message" class="message" placeholder="Your message"></textarea>
		</div>
		<input type="hidden" name="form_id" value="52e49f41dd1cae0200000002" />
		<input type="submit" value="Submit" class="button"/>
	</form>
{{> footer}}