{{> header}}
	<body>
		<h1>Contact</h1>
		<form id="contact" method="post" action="http://inspired-forms.herokuapp.com/forms/1">
			<input type="text" id="name" name="name" placeholder="Your name" />
			<input type="email" id="email" name="email" placeholder="Your email" />
			<textarea name="message" placeholder="Your message"></textarea>

			<input type="submit" value="Submit"/>
		</form>
{{> footer}}