{{> header}}
	<section class="main-content">
		{{!-- {{#with archives/articles}}
			{{#getPage '1'}}
				{{> feed}}
				<div class="nav-link">
					<a class="prev" href="{{prevUrl}}"><i class="icon-arrow-left"></i> Read more</a>
				</div>
			{{/getPage}}
		{{/with}} --}}
	</section><!-- .main-content -->
{{> footer}}